  body {


font-family: sans-serif;
padding-left: 11em;
   font-family: Georgia, "Times New Roman",
          Times, serif;
		  color: #CBD4C2;
    background-color: #01161E }
	  ul.navbar {
     list-style-type: none;
    padding: 0;
    margin: 0;
	position: absolute;
    top: 2em;
    left: 1em;
    width: 9em }
	h1 {
  font-family: Helvetica, Geneva, Arial,
        SunSans-Regular, sans-serif }
ul.navbar li {
  background: #124559;
  margin: 0.5em 0;
  padding: 0.3em;
  border-right: 1em solid #DBEBC0 }
ul.navbar a {
  text-decoration: none }
a:link {
  color: #DBEBC0 }
a:visited {
  color: #CBD4C2 }
address {
  margin-top: 1em;
  padding-top: 1em;
  border-top: thin dotted }
table {
  border-collapse: collapse;
  border: 2px solid rgb(110, 4, 4);
  letter-spacing: 1px;
  font-size: 0.8rem;
}

td, th {
  border: 1px solid rgb(0, 0, 0);
  padding: 10px 20px;
}

th {
  background-color: rgb(24, 24, 24);
}

td {
  text-align: center;
}

tr:nth-child(even) td {
  background-color: rgb(76, 80, 80);
}

tr:nth-child(odd) td {
  background-color: rgb(76, 80, 80);
}

caption {
  padding: 10px;
}
  